{% extends 'layout.twig' %}

{% block body %}
 

<div class="row mt-5">
  <div class="col-md-6 m-auto">
  
    <div class="card">
        <div class="card-header">
            <h1>{{username}}</h1>
            </br>
            <h5 class="card-title">Email:  {{userinfo.email}}</h5>
        </div>
        <div class="card-body">
            <!--
            <p class="card-text" >  <span> <a href="#"> Following:  {{userinfo.following_count}} </a> </span> &nbsp; 
            <span> <a href="#" >Followers:  {{userinfo.followers_count}} </a> </span></p> -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#following">
            Following:  {{userinfo.following_count}}</button>
             <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#followers">
            Followers:  {{userinfo.followers_count}}</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#posts">
            Posts</button>
        </div>
        
    </div>
  </div>
</div>





<div class="modal fade" id="following" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >List of following users</h5>
        <p>Click on a item to visit the user's profile page</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      <div class="list-group">
      {% for follows in userinfo.following %}
      <a href={{ "/users/%s"|format(follows)}} class="list-group-item list-group-item-action text-primary">{{ follows}}</a>
      {% endfor %}
      </div>
        
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="followers" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >List of followers</h5>
        <p>Click on a item to visit the user's profile page</p>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
       <div class="list-group">
      {% for follower in userinfo.followers %}
      <a href={{ "/users/%s"|format(follower)}} class="list-group-item list-group-item-action text-primary">{{ follower}}</a>
      {% endfor %}
      </div>

      </div>
      
    </div>
  </div>
</div>


<div class="modal fade" id="posts" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >List of post by user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      {% for post in userinfo.posts %}
       {{post.username}}{{authenticated}}
          <div class="card">
            <div class="card-header">
              <h5 class="card-title">Username: {{post.username}}  ID: 
            
             
              <a href={{ "/post/%s"|format(post.id)}}>  {{post.id}} </a>
           
            
            
            </div>
          <div class="card-body">
            <p class="card-text" >Content: {{post.content}}</p>
          </div>
          <div class="card-footer">
            <p>Likes: {{post.property.likes}}  Retweets:  {{post.retweeted}}  Timestamp: {{post.timestamp}}</p>
          </div>

          </div>
          </br>
        {% endfor %}
      </div>
      
    </div>
  </div>
</div>



{% endblock %}
